<div id="navbar-subcontent">
  <div class="text-center">
    <a class="navbar-brand" href="https://www.bsale.cl/" target="_blank">
      <img src="https://dojiw2m9tvv09.cloudfront.net/4/8/img-logos-logo-bsale-naranjo.png?1752" height="75" alt="Logo">
    </a>
      <span id="navbar-shopping-cart-ico" class="navbar-brand-ico material-icons-outlined">
        shopping_cart
      </span>
  </div>
  <nav id="navbar-form-container" class="navbar-container sticky-top navbar navbar-expand-lg bg-white">
    <div class="w-100">
      <div class="d-flex flex-column">
        <form id="navbar-form" class="d-flex flex-column px-4">
          <input id="navbar-searcher" class="form-control w-auto my-2" type="search" placeholder="Busca tu producto" aria-label="Search">
          <select id="navbar-categories" class="form-select w-auto my-2" aria-label="Categoría">
            <option value="-1" selected>Categoría</option>
          </select>
          <select id="navbar-order-by" class="form-select w-auto my-2" aria-label="Categoría">
            <option value="-1" selected>Ordenar Por</option>
            <option value="1">Nombre (A-Z)</option>
            <option value="2">Nombre (Z-A)</option>
            <option value="3">Precio (Menor a Mayor)</option>
            <option value="4">Precio (Mayor a Menor)</option>
            <option value="5">Descuento (Menor a Mayor)</option>
            <option value="6">Descuento (Mayor a Menor)</option>
          </select>
        </form>
      </div>
    </div>
  </nav>
</div>